<div class="container-fluid cont-modal">
  <div class="row">
    <div class="col-lg-12">
      <h4>{{ label }} участника команды</h4>
    </div>
    <div class="col-lg-12">
      <div class="my-3 flex">
        <label for="category" class="form-label"
          >Введите полное имя здесь</label
        >
        <input
          type="text"
          class="form-control in"
          id="category"
          [(ngModel)]="tags.fullName"
          placeholder="Введите полное имя здесь"
        />
      </div>
      <div class="form_type">
        <span class="font-300 fs-16_224"> Выберите Type</span>
        <input
        type="text"
        class="form-control in"
        id="category"
        [(ngModel)]="tags.type"
        placeholder="Введите полное имя здесь"
      />
        <!-- <select class="form-control" >
          <option value="">Выберите Type</option>
          <option
            *ngFor="let option of options"
            [value]="category.type"
            [(ngModel)]="category.type"
            id="category"
          >
            {{ option.name }}
          </option>
        </select> -->
        <!-- <input
        type="text"
        class="form-control in"
        id="category"
        [(ngModel)]="category.type"
        placeholder="Введите полное имя здесь"
      /> -->
      </div>
    </div>
    <div class="col-lg-12">
      <!--Preview Image-->
      <!-- <img [src]="img_url" alt="" width="100%"> -->
      <div class="my-3">
        <!-- <label for="category" class="form-label">Category</label> -->
        <input
          type="file"
          name="photo"
          class="form-control"
          id=""
          [(ngModel)]="tags.photo"
          placeholder="Upload Banner"
          (change)="getFile($event)"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <button type="button" (click)="SaveData()" class="btn-save">
        <img
          src="../../../../../assets/icons/Eclipse-1s-200px.gif"
          *ngIf="loader"
          width="24px"
          alt=""
        />Save
      </button>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn-cancel" mat-dialog-close>Cancel</button>
    </div>
  </div>
</div>
