<header class="main">
  <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_four"><img src="assets/img/cub_four.png" alt=""></span><span class="element_five"><img src="assets/img/block_five.png" alt=""></span><span class="element_six"><img src="assets/img/cub_six.png" alt=""></span><span class="element_seven"><img src="assets/img/cub_seven.png" alt=""></span><span class="element_eight"><img src="assets/img/cub_eight.png" alt=""></span><span class="element_nine"><img src="assets/img/cub_four.png" alt=""></span> -->
  <div class="icon">
    <div
      class="row flex-column align-items-center justify-content-center h-100"
    >
      <a href="#"><i class="fab fa-twitter"></i></a
      ><a href="#"><i class="fab fa-youtube"></i></a
      ><a href="#"><i class="class fab fa-behance"></i></a
      ><a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="card card-container">
        <div class="logo">
          <a class="logo" href="index.html"
            ><img src="/assets/img/icons/logo_vio.svg"
          /></a>
          <h3>Login</h3>
        </div>
        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="username">Usernamel</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
              placeholder="username"
            />
            <div
              *ngIf="username.errors && f.submitted"
              class="invalid-feedback"
            >
              Username is required!
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"

              placeholder="Password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            />
            <div
              *ngIf="password.errors && f.submitted"
              class="invalid-feedback"
            >
              <div *ngIf="password.errors['required']">
                Password is required
              </div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
            <span class="forgot">Forgot Password?</span>
          </div>
          <div class="form-group">
            <button class="login">Sign in</button>
            
              <button class="google-auth__button" type="button" (click)="login()">
                Sign in with Google 🚀
              </button>
          
          </div>
          <div class="form-group">
            <div
              *ngIf="f.submitted && isLoginFailed"
              class="alert alert-danger"
              role="alert"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
        <div class="new_form">
          <span>Don’t have an account ?</span>
          <a   [routerLink]="['/register']">Sign Up</a>
        </div>
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
        </div>
      </div>
    </div>
  </div>
  <div id="buttonDiv"></div>
</header>
