label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;

}
.google-auth__button{
  border: none;
  color: #152b92;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 150px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.main{
  display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 78%;
}
.logo{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-control
{
  background: #FFFFFF;
border-radius: 5px;
width: 100%;
padding: 12px 16px;
}
.forgot{

padding-top: 8px;

font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;

color: #2A1E17;
}
.login{

width: 100%;
height: auto;
padding: 6px 16px;
margin-top: 24px;
margin-bottom: 16px;
left: calc(50% - 400px/2 - 408px);
top: calc(50% - 50px/2 + 97px);
border: none;
color: #FFFFFF;
background: #152b92;
border-radius: 5px;
}
.new_form{
  display: flex;
  gap: 8px;
}
a{
  color: #152b92;
}
