<div class="main-content-container">
    <div class="page-topbar">
        <div class="page-heading">
            <span>
                <h5 style="color: #181c32;">Post List</h5>
                <p style="color:#a8abbc ;">Dashboard - Post</p>
            </span>
            <span>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openCategoryDialog()"> Add
                    Post
                </button>
            </span>
        </div>

    </div>
    <div class="page-content">
        <div class="container-fluid custom-table">
            <div class="merchent__table">
               
                <div class="common_search">
                    <span>
                        <input type="text" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                    </span> &nbsp;
                   
                </div>
              
                <div class="mat-elevation-z8">
                  <table class="table" mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="CategoryImage">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preview Image</th>
                      <td mat-cell *matCellDef="let row">
                          <img [src]="row.image_url== null ? 'assets/no-image-available.png' : row.image_url" alt="image" width="50px" height="50px"> 
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                      <td mat-cell *matCellDef="let row" > <span [ngClass]="{'active': row.active == 1, 'inactive': row.active == 0}">{{ row.active == 1 ? 'Active' : 'Inactive' }}</span></td>
                    </ng-container>
              
                  
                    <ng-container matColumnDef="Actions">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                      <td mat-cell *matCellDef="let row">
                        <span><img src="../../../../assets/icons/edit.svg" (click)="openUpdateCategoryDialog(row.id)" alt="" width="20px"></span> &nbsp; &nbsp;
                  <span> <img src="../../../../assets/icons/delete.svg" alt=""  [swal]="deleteSwal" width="20px"></span>
                     <swal #deleteSwal
                        title="Do you want to delete this category?"
                        icon="question"
                        [showCancelButton]="true"
                        [focusCancel]="true"
                        (confirm)="removeCategory(row.id)"
                    ></swal>
                        
                
                     
                     </td>
                    </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">
                        No data matching the filter "{{ input.value }}"
                      </td>
                    </tr>
                  </table>
              
                  <mat-paginator
                    [pageSizeOptions]="[ 25, 50, 100,500,1000]"
                    aria-label="Select page of users"
                  ></mat-paginator>
                </div>
              </div>
        </div>
    </div>


</div>