select {
    border: none;
    outline: none;
    scroll-behavior: smooth;
    background: inherit;
    content: "\f078";

}
.down_nav > option::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 600;
    font-size: 12px;
    margin-left: 10px;
    color: #fff;
}