<div class="container">
  <div class="menu d-flex justify-content-between align-items-center">
    <a class="logo" href="index.html"
      ><img src="/assets/img/icons/logo_vio.svg"
    /></a>
    <div class="menu__icon">
      <span></span><span></span><span></span><span></span>
    </div>
    <div class="navbar-nav">
      <ul>
        <li [routerLink]="['/home']" [routerLinkActive]="['active']">
          <span>{{ "header.nav1" | translate }}</span>
        </li>
        <li [routerLink]="['/news']" [routerLinkActive]="['active']">
          <span>{{ "header.nav2" | translate }}</span>
        </li>
        <li [routerLink]="['/about']" [routerLinkActive]="['active']">
          <span>{{ "header.nav3" | translate }}</span>
        </li>
        <li [routerLink]="['/contacts']" [routerLinkActive]="['active']">
          <span>{{ "header.nav4" | translate }}</span>
        </li>
        <li [routerLink]="['/faq']" [routerLinkActive]="['active']">
          <span>{{ "header.nav5" | translate }}</span>
        </li>
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{ lang | uppercase }}
          </option>
        </select>
        <div class="button small line">
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
        </div>
      </ul>
    </div>
  </div>
</div>
