<header class="slider_head">
  <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_four"><img src="assets/img/cub_four.png" alt=""></span><span class="element_five"><img src="assets/img/block_five.png" alt=""></span><span class="element_six"><img src="assets/img/cub_six.png" alt=""></span><span class="element_seven"><img src="assets/img/cub_seven.png" alt=""></span><span class="element_eight"><img src="assets/img/cub_eight.png" alt=""></span><span class="element_nine"><img src="assets/img/cub_four.png" alt=""></span> -->
  <div class="icon">
    <div
      class="row flex-column align-items-center justify-content-center h-100"
    >
      <a href="#"><i class="fab fa-twitter"></i></a
      ><a href="#"><i class="fab fa-youtube"></i></a
      ><a href="#"><i class="class fab fa-behance"></i></a
      ><a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>

  `
  <div class="container">
    <div class="swiper-container">
      <div class="swiper-wrapper head_slider">
        <div class="swiper-slide">
          <div class="tit_img">
            <img src="../../../../../assets/img/main/img1.svg" />
          </div>
          <div class="title">
            <div class="box">
              <h1>Hard Work is Sucess</h1>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="button"><a href="#">What we do</a></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tit_img">
            <img src="../../../../../assets/img/main/img.jpeg" />
          </div>
          <div class="title">
            <div class="box">
              <h1>Welcome To Website</h1>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="button"><a href="#">What we do</a></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tit_img">
            <img src="https://via.placeholder.com/500x500" />
          </div>
          <div class="title">
            <div class="box">
              <h1>Hard Work is Sucess</h1>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="button"><a href="#">What we do</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination">
    <!-- <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1">1</span>
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2">2</span>
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2">3</span> -->
  </div>
</header>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-duration="0">
        <div class="numb">
          <span><img src="../../../../../assets/img/icons/icon_01.svg" /></span>
          <h3>Bright project</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1000">
        <div class="numb">
          <span><img src="../../../../../assets/img/icons/icon_02.svg" /></span>
          <h3>Project discussion</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="numb">
          <span><img src="../../../../../assets/img/icons/icon_03.svg" /></span>
          <h3>Signing a contract</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="welcome_b">
  <div class="welcome row">
    <div class="img_b col-lg-6 p-0">
      <img src="../../../../../assets/img/img1.jpg" />
    </div>
    <div class="bg col-lg-6">
      <div class="cont_inf">
        <h2>Welcome To Website</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis
          lectus magna fringilla urna porttitor rhoncus dolor purus non. Iaculis
          at erat pellentesque adipiscing.
        </p>
        <div class="button"><a href="#">What we do</a></div>
      </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="container">
    <div class="title_b col-lg-12 col-md-12 p-0">
      <h2>Latest Work</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="wrk">
      <div class="img_wr">
        <img src="../../../../../assets/img/project/project1.jpeg" />
      </div>
      <div class="name_wr">
        <h3>Best Project</h3>
        <span>Completed In 3D Max</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis
          lectus magna fringilla urna porttitor rhoncus dolor purus non. Iaculis
          at erat pellentesque adipiscing. Iaculis at erat pellentesque
          adipiscing commodo elit at. Et
        </p>
        <div class="icon i_two col-lg-4 col-md-12">
          <div class="row align-items-center">
            <a href="#"><i class="fab fa-facebook-f"></i></a
            ><a href="#"><i class="fab fa-twitter"></i></a
            ><a href="#"><i class="fab fa-youtube"></i></a
            ><a href="#"><i class="class fab fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="img_w">
      <div class="row">
        <div class="img_portf">
          <a
            data-fancybox="gallery"
            href="../../../../../assets/img/project/pr2.jpeg"
          >
            <div class="hover_info"><i class="fas fa-search"></i></div>
            <img src="../../../../../assets/img/project/pr2.jpeg" />
          </a>
        </div>
        <div class="img_portf">
          <a
            data-fancybox="gallery"
            href="../../../../../assets/img/project/pr3.jpeg"
          >
            <div class="hover_info"><i class="fas fa-search"></i></div>
            <img src="../../../../../assets/img/project/pr3.jpeg" />
          </a>
        </div>
        <div class="img_portf">
          <a
            data-fancybox="gallery"
            href="../../../../../assets/img/project/pr4.jpeg"
          >
            <div class="hover_info"><i class="fas fa-search"></i></div>
            <img src="../../../../../assets/img/project/pr4.jpeg" />
          </a>
        </div>
        <div class="img_portf">
          <a
            data-fancybox="gallery"
            href="../../../../../assets/img/project/pr5.jpeg"
          >
            <div class="hover_info"><i class="fas fa-search"></i></div>
            <img src="../../../../../assets/img/project/pr5.jpeg" />
          </a>
        </div>
        <div class="img_portf">
          <a
            data-fancybox="gallery"
            href="../../../../../assets/img/project/pr6.jpeg"
          >
            <div class="hover_info"><i class="fas fa-search"></i></div>
            <img src="../../../../../assets/img/project/pr6.jpeg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="process">
  <div class="container">
    <div class="title_b">
      <h2>Work Process</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="row process_c">
      <div class="process_b sq_on col-lg-4 col-md-4 col-12">
        <span class="square_one">1</span>
        <div class="b_brc" data-aos="fade-up" data-aos-duration="0">
          <h4>Order</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
      </div>
      <div class="process_b sq_tw col-lg-4 col-md-4 col-12">
        <span class="square_two">2</span>
        <div class="b_brc" data-aos="fade-up" data-aos-duration="1000">
          <h4>Creative Brief</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
      </div>
      <div class="process_b pr_b sq_th col-lg-4 col-md-4 col-12">
        <span class="square_three">3</span>
        <div class="b_brc" data-aos="fade-up" data-aos-duration="2000">
          <h4>Production</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
      </div>
      <div class="process_b sq_fo col-lg-4 col-md-4 col-12">
        <span class="square_four">4</span>
        <div class="b_brc" data-aos="fade-up" data-aos-duration="0">
          <h4>Feedback</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
      </div>
      <div class="process_b sq_fv col-lg-4 col-md-4 col-12">
        <span class="square_five">5</span>
        <div class="b_brc" data-aos="fade-up" data-aos-duration="1000">
          <h4>Delivery</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
      </div>
      <div class="process_b sq_s col-lg-4 col-md-4 col-12">
        <span class="square_six">6</span>
        <div class="b_brc" data-aos="fade-up" data-aos-duration="2000">
          <h4>Happy Client</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-our-team></app-our-team>
<section class="blog">
  <div class="container">
    <div class="title_b">
      <h2>Blog</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="posts_s three_cols col-lg-12">
      <div class="row">
        <div class="posts_standart">
          <a href="single_post_image.html">
            <div class="post_img">
              <img src="../../../../../assets/img/blog/best-office.jpeg" />
            </div>
          </a>
          <div class="wrp_post">
            <div class="category">
              <span>Blog</span><span>Construction</span><span>Painting</span>
            </div>
            <a href="single_post_image.html">
              <h2>Best office in town</h2>
            </a>
            <p>
              Velit indoctum assentior duo at. Ea eos doming inermis apeirian,
              in mel oratio populo aliquip. Vix ipsum graece corrumpit ne, eum
              an nonumy aliquip, periculis scribentur disputationi sed ne.
            </p>
            <div class="bottom_inf">
              <div class="left_inf"><span>John Doe</span></div>
              <div class="right_inf"><span>14.07.2019</span></div>
            </div>
          </div>
        </div>
        <div class="posts_standart">
          <a href="single_post_image.html">
            <div class="post_img">
              <img src="../../../../../assets/img/blog/design.webp" />
            </div>
          </a>
          <div class="wrp_post">
            <div class="category">
              <span>Blog</span><span>Construction</span><span>Painting</span>
            </div>
            <a href="single_post_image.html">
              <h2>Why design is needed</h2>
            </a>
            <p>
              Velit indoctum assentior duo at. Ea eos doming inermis apeirian,
              in mel oratio populo aliquip. Vix ipsum graece corrumpit ne, eum
              an nonumy aliquip, periculis scribentur disputationi sed ne.
            </p>
            <div class="bottom_inf">
              <div class="left_inf"><span>John Doe</span></div>
              <div class="right_inf"><span>14.07.2019</span></div>
            </div>
          </div>
        </div>
        <div class="posts_standart">
          <a href="single_post_image.html">
            <div class="post_img">
              <img src="../../../../../assets/img/blog/business.jpeg" />
            </div>
          </a>
          <div class="wrp_post">
            <div class="category">
              <span>Blog</span><span>Construction</span><span>Painting</span>
            </div>
            <a href="single_post_image.html">
              <h2>Business Courses</h2>
            </a>
            <p>
              Velit indoctum assentior duo at. Ea eos doming inermis apeirian,
              in mel oratio populo aliquip. Vix ipsum graece corrumpit ne, eum
              an nonumy aliquip, periculis scribentur disputationi sed ne.
            </p>
            <div class="bottom_inf">
              <div class="left_inf"><span>John Doe</span></div>
              <div class="right_inf"><span>14.07.2019</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
