<div class="container-fluid cont-modal">
  <div class="row">
    <div class="col-lg-12">
      <h4>{{ label }} Sponsors</h4>
    </div>
    <div class="col-lg-12">
      <div class="my-3">
        <!-- <label for="category" class="form-label">Category</label> -->

        <input
          type="text"
          class="form-control in"
          id="category"
          [(ngModel)]="category.sponsorName"
          placeholder="Enter Sponsors Name"
        />
      </div>
    </div>
    <div class="col-lg-12">
      <!--Preview Image-->
      <!-- <img [src]="img_url" alt="" width="100%" /> -->
      <div class="my-3">
        <!-- <label for="category" class="form-label">Category</label> -->
        <input
          type="file"
          name="img_url"
          class="form-control"
          id=""
          [(ngModel)]="category.logo"
          placeholder="Upload Logo"
          (change)="getFile($event)"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <button type="button" (click)="SaveData()" class="btn-save">
        <img
          src="../../../../../assets/icons/Eclipse-1s-200px.gif"
          *ngIf="loader"
          width="24px"
          alt=""
        />Save
      </button>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn-cancel" mat-dialog-close>
        Cancel
      </button>
    </div>
  </div>
</div>
