<ng-container  *ngIf="loading">
  <header class="head_page">
    <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_thirteen"><img src="assets/img/icons/cub_thirteen.svg" alt=""></span> -->
    <div class="container title_h">
      <div class="">
        <h2 class="loader">Right Sidebar</h2>
        <span class="loader">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          quisquam ipsam <br />
          repudiandae nobis. Reprehenderit, inventore rem.
        </span>
      </div>
    </div>
  </header>
  <div class="post_content container">
    <div class="row">
      <div class="posts_sa col-lg-9">
        <div class="posts_standart">
          <a href="single_post_image.html">
            <div class="post_img">
              <img src="https://via.placeholder.com/1920x1080" /></div
          ></a>
          <div class="wrp_post">
            <div class="category">
              <span>Blog</span><span>Construction</span><span>Painting</span>
            </div>
            <a href="single_post_image.html"> <h2 class="loader">Why design is needed</h2></a>
            <p class="loader">
              A large selection of houses in the south of Ukraine, call, always
              happy to help with the choice of your dreams. A large selection of
              houses in the south of Ukraine, call, always happy to help with
              the choice of your dreams
            </p>
            <div class="bottom_inf">
              <div class="left_inf "><h6 class="loader">John Doe</h6></div>
              <div class="right_inf"><span>14.07.2019</span></div>
            </div>
          </div>
        </div>
        <div class="posts_standart quotes">
          <div class="wrp_post">
            <div class="category">
              <span>Blog</span><span>Construction</span><span>Painting</span>
            </div>
            <a href="single_post_quote.html">
              <h3 class="loader">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Venenatis lectus magna fringilla urna porttitor rhoncus dolor
                purus non. Iaculis at erat pellentesque adipiscing.
              </h3></a
            >
            <div class="bottom_inf">
              <div class="left_inf "><h6 class="loader">John Doe</h6></div>
              <div class="right_inf"><span>14.07.2019</span></div>
            </div>
          </div>
        </div>
        <div class="posts_standart">
          <a href="single_post_image.html">
            <div class="post_img">
              <img src="https://via.placeholder.com/1920x1080" /></div
          ></a>
          <div class="wrp_post">
            <div class="category">
              <span>Blog</span><span>Construction</span><span>Painting</span>
            </div>
            <a href="single_post_image.html"> <h2 class="loader">Business Courses</h2></a>
            <p class="loader">
              A large selection of houses in the south of Ukraine, call, always
              happy to help with the choice of your dreams. A large selection of
              houses in the south of Ukraine, call, always happy to help with
              the choice of your dreams
            </p>
            <div class="bottom_inf">
              <div class="left_inf"><h6 class="loader">John Doe</h6></div>
              <div class="right_inf"><h6 class="loader">14.07.2019</h6></div>
            </div>
          </div>
        </div>
        <div class="nav_pages">
          <span class="active">1</span><span>2</span><span>3</span>
        </div>
      </div>
      <div class="wrap_sidebar col-lg-3">
        <div class="sidebar p-0">
          <div class="latest_posts_widget widget">
            <div class="flex title_widget">
              <span><i class="fas fa-th-list"></i></span>
              <h4>Latest Posts</h4>
            </div>
            <div class="lts_post">
              <div class="min_img_w">
                <img src="https://via.placeholder.com/100x100" />
              </div>
              <div class="info_m_post">
                <h5 class="loader">How to pass an interwiev</h5>
                <span class="loader">June 25, 2019</span>
              </div>
            </div>
            <div class="lts_post">
              <div class="min_img_w">
                <img src="https://via.placeholder.com/100x100" />
              </div>
              <div class="info_m_post">
                <h5 class="loader">Why do you need a design</h5>
                <span class="loader">June 25, 2019</span>
              </div>
            </div>
          </div>
          <div class="search_widget widget">
            <input placeholder="Seacrh" />
          </div>
          <div class="category_widget widget">
            <div class="flex title_widget">
              <span><i class="fas fa-folder-open"></i></span>
              <h4>Category</h4>
            </div>
            <li>
              <a class="loader">Studio 2</a>
            </li>
            <li>
              <a class="loader">Web development</a>
            </li>
            <li>
              <a class="loader">Business></a>
            </li>
            <li>
              <a class="loader">Layout lessons</a>
            </li>
            <li>
              <a class="loader">Photo processing</a>
            </li>
          </div>
          <div class="tags_widget widget">
            <div class="flex title_widget">
              <span><i class="fas fa-tag"></i></span>
              <h4>Tags</h4>
            </div>
            <h6>Studio</h6><h6>Marketing</h6><h6>Design</h6
            ><h6>Development</h6>
          </div>
        </div>
      </div></div>
    </div>
</ng-container>



  <ng-container *ngIf="!loading">
    <header class="head_page">
      <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_thirteen"><img src="assets/img/icons/cub_thirteen.svg" alt=""></span> -->
      <div class="container title_h">
        <div class="block_title">
          <h1>{{'news.title' |translate}}</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quisquam ipsam <br> repudiandae nobis.
            Reprehenderit, inventore rem.</p>
        </div>
      </div>
    </header>
  <div class="post_content container" >
    <div class="row">
      <div class="posts_s col-lg-9">
        <ng-container *ngIf="posts?.length">
          <div class="posts_standart" *ngFor="let post of posts">
            <a [routerLink]="['/news/post', post.id]">
              <div class="post_img">
                <img
                  [src]="
                    'data:' +
                    post.photoList[0].contentType +
                    ';base64,' +
                    post.photoList[0].contentByte
                  "
                />
              </div>
            </a>
            <div class="wrp_post">
              <div class="category" *ngFor="let tag of post.tags">
                <span>{{ tag }}</span>
              </div>
              <a [routerLink]="['/news/post', post.id]">
                <h2>{{ post.title }}</h2></a
              >
              <p>{{ post.contentText }}</p>
              <div class="bottom_inf">
                <div class="left_inf">
                  <span>{{ post.creatorId }}</span>
                </div>
                <div class="right_inf">
                  <span>{{ post.createdDate }}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="nav_pages">
          <span class="active">1</span><span>2</span><span>3</span>
        </div>
      </div>
      <div class="wrap_sidebar col-lg-3">
        <div class="sidebar p-0">
          <div class="latest_posts_widget widget">
            <div class="flex title_widget">
              <span><i class="fas fa-th-list"></i></span>
              <h4>Latest Posts</h4>
            </div>
            <div class="lts_post">
              <div class="min_img_w">
                <img src="https://via.placeholder.com/100x100" />
              </div>
              <div class="info_m_post">
                <h5>How to pass an interwiev</h5>
                <span>June 25, 2019</span>
              </div>
            </div>
            <div class="lts_post">
              <div class="min_img_w">
                <img src="https://via.placeholder.com/100x100" />
              </div>
              <div class="info_m_post">
                <h5>Why do you need a design</h5>
                <span>June 25, 2019</span>
              </div>
            </div>
          </div>
          <div class="search_widget widget">
            <input [(ngModel)]="search" placeholder="Search" />
          </div>
          <div class="category_widget widget">
            <div class="flex title_widget">
              <span><i class="fas fa-folder-open"></i></span>
              <h4>Category</h4>
            </div>
            <li>
              <a>Studio<i>2</i></a>
            </li>
            <li>
              <a>Web development<i>5</i></a>
            </li>
            <li>
              <a>Business<i>10</i></a>
            </li>
            <li>
              <a>Layout lessons<i>3</i></a>
            </li>
            <li>
              <a>Photo processing<i>8</i></a>
            </li>
          </div>
          <div class="tags_widget widget">
            <div class="flex title_widget">
              <span><i class="fas fa-tag"></i></span>
              <h4>Tags</h4>
            </div>
            <span>Studio</span><span>Marketing</span><span>Design</span
            ><span>Development</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
