<div class="main-content-container">
  <div class="page-topbar">
    <div class="page-heading">
      <span>
        <h5 style="color: #181c32">Tags Lists</h5>
        <p style="color: #a8abbc">Dashboard - Tags</p>
      </span>
      <span>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="openTagsDialog()"
        >
          Add Tags
        </button>
      </span>
    </div>
  </div>
  <div class="page-content">
    <div class="container-fluid custom-table">
      <div class="merchent__table">
        <div class="common_search">
          <span>
            <input
              type="text"
              (keyup)="applyFilter($event)"
              placeholder="Ex. Mia"
              #input
            />
          </span>
          &nbsp;
        </div>

        <div class="mat-elevation-z8">
          <table class="table" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let row">
               <span class="fs-14-300">{{ row.id }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="TagName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Tag Name
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="fs-14-300">
                {{ row.tagName }}
</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="PostIdList">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
             Counter
              </th>
              <td mat-cell *matCellDef="let row">
                <div *ngFor="let item of row.postIdList">
                  <span class="fs-14-300">{{ item }}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell *matCellDef="let row">
                <span
                  ><img
                    src="../../../../assets/icons/edit.svg"
                    (click)="openUpdateTagsDialog(row.id)"
                    alt=""
                    width="20px"
                /></span>
                &nbsp; &nbsp;
                <span>
                  <img
                    src="../../../../assets/icons/delete.svg"
                    alt=""
                    [swal]="deleteSwal"
                    width="20px"
                /></span>
                &nbsp; &nbsp;

                <swal
                  #deleteSwal
                  title="Удалить эти теги?"
                  icon="question"
                  [showCancelButton]="true"
                  [focusCancel]="true"
                  (confirm)="removeTags(row.id)"
                ></swal>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[25, 50, 100, 500, 1000]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
