<header class="main">
  <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_four"><img src="assets/img/cub_four.png" alt=""></span><span class="element_five"><img src="assets/img/block_five.png" alt=""></span><span class="element_six"><img src="assets/img/cub_six.png" alt=""></span><span class="element_seven"><img src="assets/img/cub_seven.png" alt=""></span><span class="element_eight"><img src="assets/img/cub_eight.png" alt=""></span><span class="element_nine"><img src="assets/img/cub_four.png" alt=""></span> -->
  <div class="icon">
    <div
      class="row flex-column align-items-center justify-content-center h-100"
    >
      <a href="#"><i class="fab fa-twitter"></i></a
      ><a href="#"><i class="fab fa-youtube"></i></a
      ><a href="#"><i class="class fab fa-behance"></i></a
      ><a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="card card-container">
        <div class="logo">
          <a class="logo" href="index.html"
            ><img src="/assets/img/icons/logo_vio.svg"
          /></a>
          <h3>Sign Up</h3>
        </div>

        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              placeholder="username"
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
            />
            <div
              class="invalid-feedback"
              *ngIf="username.errors && f.submitted"
            >
              <div *ngIf="username.errors['required']">
                Username is required
              </div>
              <div *ngIf="username.errors['minlength']">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors['maxlength']">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              placeholder="username@gmail.com"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
            />
            <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">Email is required</div>
              <div *ngIf="email.errors['email']">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
                placeholder="Password"
              minlength="6"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            />
            <div
              class="invalid-feedback"
              *ngIf="password.errors && f.submitted"
            >
              <div *ngIf="password.errors['required']">
                Password is required
              </div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="login">Sign Up</button>
          </div>

          <div
            class="alert alert-warning"
            *ngIf="f.submitted && isSignUpFailed"
          >
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </div>
    </div>
  </div>
</header>
