<section class="form_b">
    <div class="container">
        <div class="form_contact">
            <h2>{{'contact.title' |translate}}</h2>
            <!-- <p> Your email address will not be published. Required fields are marked *</p> -->
            <form (ngSubmit)="onSubmit($event)" >
                <div class="rpl_b">
                    <input placeholder="Name" [(ngModel)]="name" name="name">
                    <input placeholder="Email" [(ngModel)]="email" name="email">
                </div>
                <textarea placeholder="Comment" [(ngModel)]="comment" name="comment"></textarea>
                <div class="button pointer" (click)="disabled ===  true ? onSubmit($event) : this"><span>{{title | translate}}</span></div>
            </form>
        </div>
    </div>
</section>