<div class="carousel">
  <div class="carousel__content">
    <div class="carousel__control">
      <div class="carousel__control__button left" (click)="moveCarousel('backward')">
        <svg-icon
          src="assets\icons\arrows\arrow-left.svg"
        ></svg-icon>
      </div>
    </div>
    <div class="carousel__content-wrapper">
      <div class="carousel__scroll" #scroll>
        <ng-content select="[content]"></ng-content>
      </div>
    </div>
    <div class="carousel__control">
      <div class="carousel__control__button right" (click)="moveCarousel('forward')">
        <svg-icon
          src="assets\icons\arrows\arrow-right.svg"
        ></svg-icon>
      </div>
    </div>
  </div>
  <main class="carousel__toolbar">
    <div class="carousel__pagination">
      <div
        class="carousel__pagination__item"
        *ngFor="let item of carouselItems; let i = index"
        [ngClass]="{
          active: i === activeIndex
        }"
        (click)="moveToIndex(i)"
      ></div>
    </div>
<!--    <div class="carousel__link">-->
<!--      <app-link-button-->
<!--        [label]="link.text"-->
<!--        theme="dark"-->
<!--        styling="arrow"-->
<!--        size="big"-->
<!--        type="button"-->
<!--      ></app-link-button>-->
<!--    </div>-->
  </main>
</div>
