.carousel {
  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    gap: 16px;
  }

  &__content-wrapper {
    display: block;
    white-space: nowrap;

    width: 1264px;

    overflow: hidden;
  }

  &__scroll {
    transition: transform 0.5s ease;
    display: flex;
  }

  &__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    padding-bottom: 16px;

    &__button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -moz-box;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      white-space: nowrap;

      cursor: pointer;

      width: 32px;
      height: 32px;

      // background-color: rgba(30, 33, 43, 0.05);
      border-radius: 4px;

      svg {
        width: 24px;
        height: 24px;

        path {
          fill: #1e212b;
        }
      }
    }
  }

  &__toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -webkit-flex;
    position: relative;
    height: 22px;

    padding: 5px 0;
  }

  &__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    gap: 15px;

    margin: 0 auto;

    &__item {
      width: 12px;
      height: 12px;
      background-color: rgba(105, 105, 105, 0.2);
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: #033687;
        cursor: default;
      }
    }
  }

  &__link {
    position: absolute;
    right: 0;

    font-weight: 700;
    font-size: 16px;

    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -moz-box;
      display: -webkit-flex;
      text-decoration: none;
      color: #1e212b;
    }

    svg {
      path {
        fill: #1e212b;
      }
    }
  }
}
