

    <header class="head_page"><span class="element_two"><img src="../../../../../assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="../../../../../assets/img/cub_three.png" alt=""></span><span class="element_thirteen"><img src="../../../../../assets/img/icons/cub_thirteen.svg" alt=""></span>
      <div class="container title_h">
        <div class="block_title">
          <h1>FAQ</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quisquam ipsam <br> repudiandae nobis. Reprehenderit, inventore rem.</p>
        </div>
      </div>
    </header>
    <section class="faq-block_one spacing-top">
      <div class="container">
        <div class="heading">
          <h2>Work with a Dedicated<br>SEO Company</h2>
          <p> Our approach to SEO is uniquely built around what we know works…and what we<br>know doesn’t work. With over 200 verified factors in play.</p>
        </div>
        <div class="row">
          <div class="astroon_accordion col-lg-6">
            <div class="tabs">
              <div class="tab">
                <input id="my-id-31083" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-31083">
                  <h5 data-lax-preset_large="zoomIn-0.9">1. Best Practices for Keyword Density?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-80090" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-80090">
                  <h5 data-lax-preset_large="zoomIn-0.9">2. What is off page SEO link building?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-19423" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-19423">
                  <h5 data-lax-preset_large="zoomIn-0.9">3. What is domain authority?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-80190" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-80190">
                  <h5 data-lax-preset_large="zoomIn-0.9">4. What is broken link building?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-90768" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-90768">
                  <h5 data-lax-preset_large="zoomIn-0.9">5. How do I conduct keyword research?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
            </div>
          </div>
          <div class="astroon_accordion col-lg-6">
            <div class="tabs">
              <div class="tab">
                <input id="my-id-31083" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-31083">
                  <h5 data-lax-preset_large="zoomIn-0.9">1. Best Practices for Keyword Density?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-80090" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-80090">
                  <h5 data-lax-preset_large="zoomIn-0.9">2. What is off page SEO link building?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-19423" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-19423">
                  <h5 data-lax-preset_large="zoomIn-0.9">3. What is domain authority?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-80190" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-80190">
                  <h5 data-lax-preset_large="zoomIn-0.9">4. What is broken link building?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
              <div class="tab">
                <input id="my-id-90768" type="radio" name="rd">
                <label class="tab-label flex_left" for="my-id-90768">
                  <h5 data-lax-preset_large="zoomIn-0.9">5. How do I conduct keyword research?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p></p>Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="faq-block_two">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="img-wrap"><img src="https://via.placeholder.com/1920x1080"><a class="play_b" data-fancybox href="https://vimeo.com/70834074"><i class="fas fa-play-circle"></i></a></div>
          </div>
          <div class="faq-block_two__info col-lg-6">
            <h2>Default box with<br> shadow style</h2>
            <p> Software development outsourcing is just a tool to achieve business goals. But there is no way to get worthwhile results without cooperation and trust between a client company.</p>
            <div class="button"><a [routerLink]="['/contacts']" [routerLinkActive]="['active']">Contacts</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="faq-block_three">
      <div class="container">
        <div class="row">
          <div class="astroon_accordion col-lg-6">
            <div class="tabs">
              <div class="tab">
                <input id="my-id-94443" type="radio" name="rd">
                <label class="tab-label" for="my-id-94443">
                  <h5 data-lax-preset_large="zoomIn-0.9">1. How to change partner gray image to color?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p>From banking and insurance to wealth the management and securitie on there financial services the teams serve</p>
                </div>
              </div>
              <div class="tab">
                <input id="my-id-67871" type="radio" name="rd">
                <label class="tab-label" for="my-id-67871">
                  <h5 data-lax-preset_large="zoomIn-0.9">2. Where I add my email address in caldera form ?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p>From banking and insurance to wealth the management and securitie on there financial services the teams serve</p>
                </div>
              </div>
              <div class="tab">
                <input id="my-id-14405" type="radio" name="rd">
                <label class="tab-label" for="my-id-14405">
                  <h5 data-lax-preset_large="zoomIn-0.9">3. Page showing 404 but this page still there?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p>From banking and insurance to wealth the management and securitie on there financial services the teams serve</p>
                </div>
              </div>
              <div class="tab">
                <input id="my-id-49774" type="radio" name="rd">
                <label class="tab-label" for="my-id-49774">
                  <h5 data-lax-preset_large="zoomIn-0.9">4.  How to increase upload_max_filesize?</h5><i class="fas fa-chevron-right" aria-hidden="true"></i>
                </label>
                <div class="tab-content description description_text_settings">
                  <p>From banking and insurance to wealth the management and securitie on there financial services the teams serve</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="heading">
              <h2>General FAQ</h2>
            </div>
            <div class="progress__item"><span class="progress__item-title">BUSINESS</span>
              <div class="progress-bar progress-bar-70"></div>
            </div>
            <div class="progress__item"><span class="progress__item-title">DESIGN</span>
              <div class="progress-bar progress-bar-40"></div>
            </div>
            <div class="progress__item"><span class="progress__item-title">MARKETING</span>
              <div class="progress-bar progress-bar-60"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
<app-contacts-form></app-contacts-form>
