.custom-table {
  background-color: #ffff;
  padding: 24px;
}

table {
  width: 100%;
  border: 0px solid #ddd;
  border-radius: 20px;

  font-size: 24px;
}
th,
td {
  padding: 8px 8px !important;
}

th {
  font-size: 16px;
  background: #f9f9f9;
  color: #4f4f4f;
}

td {
  background: #fff;
  color: #575757;
  font-weight: 500 !important;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

.merchent__table {
  margin: 16px;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.w-75 {
  max-width: 75px;
}

.w-100 {
  max-width: 100px;
}
.th-center {
  text-align: center;
}
.th-left {
  text-align: left;
}
.th-right {
  text-align: right;
}
.common_search input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #999999;
}
.common_search input:focus {
  outline: none;
}

.active {
  background-color: #04a251;
  color: #ffffff;
  padding: 5px;
  border-radius: 50rem !important;
}
.inactive {
  background-color: #ffa9a9;
  color: #7c2b2b;
  padding: 5px;
  border-radius: 50rem !important;
}

.mat-elevation-z8 {
  overflow-x: auto;
}
.mat-table.mat-table {
  min-width: 500px;
}
