
<div class="top_nav">
  <div class="container" *ngFor="let item of myData$">
    <div class="left_nav">
      <span><i class="fas fa-map-marker-alt"></i>{{item.infoPlace.location}}</span>
    </div>
    <div class="right_nav">
      <span><i class="fas fa-paper-plane"></i>{{item.email}}</span
      ><span><i class="fas fa-mobile-alt"></i>{{item.phoneNumber}}</span>
    </div>
  </div>
</div>
<app-header></app-header>
<router-outlet class="wrapper"></router-outlet>
<footer id="footer"><app-footer></app-footer></footer>

