<div *ngFor="let post of post$">
  <header class="head_page"><span class="element_two"><img src="../../../../../assets/img/cub_two.png" alt=""></span><span
    class="element_three"><img src="../../../../../assets/img/cub_three.png" alt=""></span><span class="element_thirteen"><img
    src="../../../../../assets/img/icons/cub_thirteen.svg" alt=""></span>
    <div class="container title_h">
      <div class="block_title">
        <h1>{{post.title}}</h1>
      </div>
    </div>
  </header>
  <div class="media_element">
    <div class="container">
      <div class="col-lg-12 p-0">
        <div class="media_blog"><img src="https://via.placeholder.com/1920x1080"></div>
      </div>
    </div>
  </div>
  <section class="wrapper">
    <div class="container">
      <div class="row">
        <div class="content_post col-lg-9 col-12">
          <p>{{post.contentText}}</p>
<!--          <div class="quotes_p">-->
<!--            <p>The most shared article of the year is found on Simplemost.com. The news here is the new-->
<!--              construction-themed amusement park found in Diggerland, a theme park based in the US and the UK.-->
<!--              Diggerland gives.</p>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-lg-6 col-12 p-0">-->
<!--              <div class="img_blog"><img src="https://via.placeholder.com/385x300"></div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 col-12 p-0">-->
<!--              <div class="img_blog"><img src="https://via.placeholder.com/385x300"></div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="wrap_sidebar col-lg-3 col-12">
          <div class="sidebar p-0">
            <div class="author_widget widget">
              <div class="avatar"><img src="https://via.placeholder.com/255x210"></div>
              <h3>John Doe</h3><span>Designer</span>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
            <div class="search_widget widget">
              <input placeholder="Seacrh">
            </div>
            <div class="latest_posts_widget latest widget">
              <div class="flex title_widget"><span><i class="fas fa-th-list"></i></span>
                <h4>Latest Posts</h4>
              </div>
              <div class="lts_post">
                <div class="min_img_w"><img src="https://via.placeholder.com/100x100"></div>
                <div class="info_m_post">
                  <h5>How to pass an interwiev</h5><span>June 25, 2019</span>
                </div>
              </div>
              <div class="lts_post">
                <div class="min_img_w"><img src="https://via.placeholder.com/100x100"></div>
                <div class="info_m_post">
                  <h5>Why do you need a design</h5><span>June 25, 2019</span>
                </div>
              </div>
            </div>
            <div class="category_widget widget">
              <div class="flex title_widget"><span><i class="fas fa-folder-open"></i></span>
                <h4>Category</h4>
              </div>
              <li><a>Studio<i>2</i></a></li>
              <li><a>Web development<i>5</i></a></li>
              <li><a>Business<i>10</i></a></li>
              <li><a>Layout lessons<i>3</i></a></li>
              <li><a>Photo processing<i>8</i></a></li>
            </div>
            <div class="tags_widget widget">
              <div class="flex title_widget"><span><i class="fas fa-tag"></i></span>
                <h4>Tags</h4>
              </div>
              <span>Studio</span><span>Marketing</span><span>Design</span><span>Development</span>
            </div>
            <div class="icon_widget icon_s icon">
              <div class="row align-items-center justify-content-center"><a href="#"><i
                class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-youtube"></i></a><a href="#"><i
                class="class fab fa-behance"></i></a><a href="#"><i class="fab fa-facebook-f"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog">
    <div class="container">
      <div class="posts_s three_cols col-lg-12">
        <div class="row">
          <div class="posts_standart"><a href="single_post_image.html">
            <div class="post_img"><img src="https://via.placeholder.com/1020x1080"></div>
          </a>
            <div class="wrp_post">
              <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div>
              <a href="single_post_image.html">
                <h2>Why design is needed</h2></a>
              <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your
                dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice
                of your dreams</p>
              <div class="bottom_inf">
                <div class="left_inf"><span>John Doe</span></div>
                <div class="right_inf"><span>14.07.2019</span></div>
              </div>
            </div>
          </div>
          <div class="posts_standart video">
            <div class="video_p">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3wi65UW_nJk" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <div class="wrp_post">
              <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div>
              <a href="single_post_video.html">
                <h2>Success in front of you</h2></a>
              <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your
                dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice
                of your dreams</p>
              <div class="bottom_inf">
                <div class="left_inf"><span>John Doe</span></div>
                <div class="right_inf"><span>14.07.2019</span></div>
              </div>
            </div>
          </div>
          <div class="posts_standart"><a href="single_post_image.html">
            <div class="post_img"><img src="https://via.placeholder.com/1020x1080"></div>
          </a>
            <div class="wrp_post">
              <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div>
              <a href="single_post_image.html">
                <h2>Business Courses</h2></a>
              <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your
                dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice
                of your dreams</p>
              <div class="bottom_inf">
                <div class="left_inf"><span>John Doe</span></div>
                <div class="right_inf"><span>14.07.2019</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="comments">
    <div class="container">
      <div class="wrapper_min"></div>
      <div class="comment">
        <h2>Comments</h2>
        <div class="ava_img">
          <div class="avatar"><img src="https://via.placeholder.com/120x120"></div>
          <div class="info_comm">
            <h3>Anna Hardy</h3><span>June 25, 2019</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
            <div class="ava_img answer">
              <div class="avatar"><img src="https://via.placeholder.com/120x120"></div>
              <div class="info_comm">
                <h3>John Doe</h3><span>June 25, 2019</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form_comment">
        <h2>Comments</h2>
        <p> Your email address will not be published. Required fields are marked *</p>
        <form>
          <div class="rpl_b">
            <input placeholder="Name">
            <input placeholder="Email">
          </div>
          <textarea placeholder="Comment"></textarea>
          <p>
            <input type="checkbox" value="yes">
            <label>Save my name, email, and website in this browser for the next time I comment.</label>
          </p>
          <div class="button"><a href="#">Send Message</a></div>
        </form>
      </div>
    </div>
  </section>

</div>
