.flex{
    display: flex;
    flex-direction: column;
    gap: 8px;
}.in {
  border-radius: 8px;
  width: 100%;
  border: 1px solid rgb(190, 190, 190);
  padding: 6px;
}

.form_type {
  display: flex;
  flex-direction: column;
  > select {
    padding: 6px 16px;
    border-radius: 8px;
  }
}
.btn-save{
display: flex;
width: 100%;
padding: 8px 16px;
background-color: #385da8;
color: aliceblue;
border: none;
border-radius: 8px;
justify-content: center;
}
.btn-cancel{
width: 100%;
text-decoration: underline;
display: flex;
justify-content: center;
border: none;
background-color: white;
padding: 8px 16px;
}
