<header class="head_page">
  <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_thirteen"><img src="assets/img/icons/cub_thirteen.svg" alt=""></span> -->
    <div class="container title_h">
      <div class="block_title">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quisquam ipsam <br> repudiandae nobis. Reprehenderit, inventore rem.</p>
      </div>
    </div>
  </header>
  <section class="work">
    <div class="container">
      <div class="wrk">
        <div class="img_wr"><img src="https://via.placeholder.com/500x500"></div>
        <div class="name_wr">
          <h3>Best Project</h3><span>Completed In 3D Max</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Iaculis at erat pellentesque adipiscing. Iaculis at erat pellentesque adipiscing commodo elit at. Et</p>
          <div class="icon i_two col-lg-4 col-md-12">
            <div class="row align-items-center"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-youtube"></i></a><a href="#"><i class="class fab fa-behance"></i></a></div>
          </div>
        </div>
      </div>
      <div class="img_w">
        <div class="row">
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com/260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com/260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
                      <div class="img_portf"><a data-fancybox="gallery" href="https://via.placeholder.com/1920x1080">
                          <div class="hover_info"><i class="fas fa-search"></i></div><img src="https://via.placeholder.com//260x260"></a></div>
        </div>
      </div>
    </div>
  </section>
