<!-- <div class="image-gallery">
  <div class="image-container">
    <div class="slide" *ngFor="let slide of slides">
      <img *ngFor="let image of slide" [src]="image.url" [alt]="image.title" [class.active]="image === currentImage" />
      <span></span>
    </div>
  </div>
  <button class="prev-arrow" (click)="prevSlide()">&larr;</button>
  <button class="next-arrow" (click)="nextSlide()">&rarr;</button>
</div> -->

<section class="team">
  <div class="container">
    <div class="row">
      <div class="team_t col-lg-3">
        <h2>{{ "head_page.team_title" | translate }}</h2>
      </div>
      <div class="team_t col-lg-9">
        <p>{{ "head_page.team_text" | translate }}</p>
      </div>
    </div>  </div>
<app-news-carousel></app-news-carousel>
    <!-- <mat-tab-group preserveContent style="margin-top: 48px">
      <mat-tab label="{{ 'head_page.main' | translate }}" style="color: white">
        <div class="bg_team col-lg-12 overflow">
          <div class="row1 justify-content-between">
            <div
              class="face_team col-lg-3 col-md-3 p-0"
              *ngFor="let item of students"
            >
              <div class="img_team">
                <img [src]="item.photo" alt="" />
                <div class="social">
                  <a href="#"><i class="fab fa-twitter"></i></a
                  ><a href="#"><i class="fab fa-youtube"></i></a
                  ><a href="#"><i class="class fab fa-behance"></i></a
                  ><a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
              </div>
              <h4>{{ item.fullName }}</h4>
              <span>Director</span>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'head_page.main1' | translate }}">
        <div class="bg_team col-lg-12 overflow">
          <div class="row1 justify-content-between">
            <div
              class="face_team col-lg-3 col-md-3 p-0"
              *ngFor="let item of teachers"
            >
              <div class="img_team">
                <img [src]="item.photo" alt="" />
                <div class="social">
                  <a href="#"><i class="fab fa-twitter"></i></a
                  ><a href="#"><i class="fab fa-youtube"></i></a
                  ><a href="#"><i class="class fab fa-behance"></i></a
                  ><a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
              </div>
              <h4>{{ item.fullName }}</h4>
              <span>Director</span>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group> -->

</section>
