.overflow{

    overflow: auto;
}
.row1{
    display: flex;
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
}.image-gallery {
  position: relative;
}

.image-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 300px; /* Adjust the height as per your requirement */
}

.slide {
  flex: 0 0 25%; /* Adjust the width as per your requirement */
  scroll-snap-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  border: 2px solid blue;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.prev-arrow {
  left: 1rem;
}

.next-arrow {
  right: 1rem;
}
