.button {
  margin-top: 40px;
  background: linear-gradient(90deg, #6CDCFF 1.56%, #4CA4FF 50.93%, #3C60E1 100%);
  color: rgb(0, 0, 0);
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  transition: 0.3s;
  border-radius: 50px;
  letter-spacing: 0.075em;
}
