
  <header class="head_page">
    <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_thirteen"><img src="assets/img/icons/cub_thirteen.svg" alt=""></span> -->
    <div class="container title_h">
      <div class="block_title">
        <h1>{{'contact.title' |translate}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quisquam ipsam <br> repudiandae nobis. Reprehenderit, inventore rem.</p>
      </div>
    </div>
  </header>
  <section class="information">
    <div class="container">
      <div class="row justify-content-between col-lg-12 p-0 m-0">
        <div class="col-lg-5 col-12 p-0">
          <div class="con" *ngFor="let item of generalMyData$">
            <div class="info_c d-flex"><span><i class="fas fa-map-marker-alt"></i></span>
              <p>{{item.infoPlace.location}}</p>
            </div>
            <div class="info_c d-flex"><span><i class="fas fa-phone-alt"></i></span>
              <p>{{item.phoneNumber}} <br> {{item.infoPlace.phoneNumber}} - IT Park</p>
            </div>
            <div class="info_c d-flex"><span><i class="fas fa-envelope"></i></span>
              <p>{{item.email}}</p>
            </div>
          </div>
        </div>
        <div class="img_information col-lg-7 col-12 p-0"><img src="https://via.placeholder.com/648x455"></div>
      </div>
    </div>
  </section>
<app-contacts-form></app-contacts-form>
  <section class="map">
    <div class="col-lg-12 p-0">
      <!-- <iframe src="https://goo.gl/maps/qy4FK8BCmKKNE9HE7" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe> -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12336933.840625657!2d56.576187646541655!3d43.18119137891321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38834f7675d8a6c3%3A0x7b7d14aec270c056!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQodGD0LvQtdC50LzQsNC9INCU0LXQvNC40YDQtdC70Y8!5e0!3m2!1sru!2sua!4v1682484212272!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </section>
