<div class="container">
  <div class="brend" *ngFor="let item of myData$">
    <div class="logo"><img src="assets/img/icons/logo_vio.svg"></div>
    <p>Address : {{item.infoPlace.location}}</p>
    <p>Phone Number : {{item.phoneNumber}}</p>
    <p>Email : {{item.email}}</p>
  </div>
  <div class="nav_f col-lg-12 col-12"><span>Copyright © 2023 SDU-TechnoPark
  </span></div>
</div>
