.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-content: center;
  align-items: center;
}
:host {
    ::ng-deep {
      .mat-mdc-tab-group .mat-mdc-tab .mdc-tab__content {  width: 579px !important; }
    }
 }
.news-array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -moz-box;
  display: -webkit-flex;
  gap: 24px;
  flex: 0 0 100%;
  padding-bottom: 16px;

  padding-right: 24px;
  min-width: 1288px;
}
img {
  border-style: none;
  width: 264px;
  height: 264px;
}
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -moz-box;
  display: -webkit-flex;
  flex-direction: column;
  width: 298px;
  height: 116px;
  padding: 23px 17px 23px 15px;

  border-radius: 8px;

  border: 1px solid rgba(105, 105, 105, 0.2);

  background-size: 100% 100%;
  background-repeat: no-repeat;

  transition: background-image 0.2s ease-in-out;

  cursor: pointer;
  user-select: none;

  &:hover {
    padding: 22px 16px 22px 14px;
    border: 2px solid rgb(9, 60, 180);
  }

  &__header {
    margin-bottom: 24px;
  }
  img {
    width: 100%;
  }
  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -webkit-flex;
    white-space: normal;
  }

  &__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -webkit-flex;
    font-size: 16px;

    width: 266px;
  }
}
