<mat-tab-group preserveContent style="margin-top: 48px" class="invisible-tabs">
  <mat-tab label="{{ 'head_page.main' | translate }}" style="color: white">
    <div
      class="news-carousel-wrapper"
      [ngStyle]="{
        padding: padding
      }"
    >
      <ng-container *ngIf="newsMatrix.length > 0">
        <app-carousel [link]="link">
          <ng-container content>
            <div class="news-array" *ngFor="let newsArray of newsMatrix">
              <div
                class="news"
                *ngFor="let news of newsArray"
                [ngStyle]="{
                  height: itemHeight
                }"
              >
                <div class="news__content">
                  <div class="news__title">
                    <img [src]="news.photo" />
                  </div>
                </div>
                <div>
                  <span>{{ news.fullName }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </app-carousel>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'head_page.main1' | translate }}" style="color: white">
    <div
      class="news-carousel-wrapper"
      [ngStyle]="{
        padding: padding
      }"
    >
      <ng-container *ngIf="newsMatrix1.length > 0">
        <app-carousel [link]="link">
          <ng-container content>
            <div class="news-array" *ngFor="let newsArray of newsMatrix1">
              <div
                class="news"
                *ngFor="let news of newsArray"
                [ngStyle]="{
                  height: itemHeight
                }"
              >
                <div class="news__content">
                  <div class="news__title">
                    <img [src]="news.photo" />
                  </div>
                </div>
                <div>
                  <span>{{ news.fullName }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </app-carousel>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
