
  <header class="head_page">
    <!-- <span class="element_two"><img src="assets/img/cub_two.png" alt=""></span><span class="element_three"><img src="assets/img/cub_three.png" alt=""></span><span class="element_thirteen"><img src="assets/img/icons/cub_thirteen.svg" alt=""></span> -->
    <div class="container title_h">
      <div class="block_title">
        <h1>Three Cols</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quisquam ipsam <br> repudiandae nobis. Reprehenderit, inventore rem.</p>
      </div>
    </div>
  </header>
  <div class="post_content container">
    <div class="posts_s three_cols col-lg-12">
      <div class="row">
                  <div class="posts_standart"><a href="single_post_image.html">
                      <div class="post_img"><img src="https://via.placeholder.com/1920x1080"></div></a>
                    <div class="wrp_post">
                      <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div><a href="single_post_image.html">
                        <h2>Why design is needed</h2></a>
                      <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams</p>
                      <div class="bottom_inf">
                        <div class="left_inf"><span>John Doe</span></div>
                        <div class="right_inf"><span>14.07.2019</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="posts_standart"><a href="single_post_image.html">
                      <div class="post_img"><img src="https://via.placeholder.com/1920x1080"></div></a>
                    <div class="wrp_post">
                      <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div><a href="single_post_image.html">
                        <h2>Fonts in modern design</h2></a>
                      <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams</p>
                      <div class="bottom_inf">
                        <div class="left_inf"><span>John Doe</span></div>
                        <div class="right_inf"><span>14.07.2019</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="posts_standart video">
                    <div class="video_p">
                      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3wi65UW_nJk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="wrp_post">
                      <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div><a href="single_post_video.html">
                        <h2>Success in front of you</h2></a>
                      <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams</p>
                      <div class="bottom_inf">
                        <div class="left_inf"><span>John Doe</span></div>
                        <div class="right_inf"><span>14.07.2019</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="posts_standart"><a href="single_post_image.html">
                      <div class="post_img"><img src="https://via.placeholder.com/1920x1080"></div></a>
                    <div class="wrp_post">
                      <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div><a href="single_post_image.html">
                        <h2>Business Courses</h2></a>
                      <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams</p>
                      <div class="bottom_inf">
                        <div class="left_inf"><span>John Doe</span></div>
                        <div class="right_inf"><span>14.07.2019</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="posts_standart"><a href="single_post_image.html">
                      <div class="post_img"><img src="https://via.placeholder.com/1920x1080"></div></a>
                    <div class="wrp_post">
                      <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div><a href="single_post_image.html">
                        <h2>Minimalist design trend</h2></a>
                      <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams</p>
                      <div class="bottom_inf">
                        <div class="left_inf"><span>John Doe</span></div>
                        <div class="right_inf"><span>14.07.2019</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="posts_standart"><a href="single_post_image.html">
                      <div class="post_img"><img src="https://via.placeholder.com/1920x1080"></div></a>
                    <div class="wrp_post">
                      <div class="category"><span>Blog</span><span>Construction</span><span>Painting</span></div><a href="single_post_image.html">
                        <h2>What is ux / ui design</h2></a>
                      <p>A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams. A large selection of houses in the south of Ukraine, call, always happy to help with the choice of your dreams</p>
                      <div class="bottom_inf">
                        <div class="left_inf"><span>John Doe</span></div>
                        <div class="right_inf"><span>14.07.2019</span></div>
                      </div>
                    </div>
                  </div>
        <div class="nav_pages"><span class="active">1</span><span>2</span><span>3</span></div>
      </div>
    </div>
  </div>
