// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$appName-primary: mat.define-palette(mat.$indigo-palette);
$appName-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$appName-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$appName-theme: mat.define-light-theme(
  (
    color: (
      primary: $appName-primary,
      accent: $appName-accent,
      warn: $appName-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($appName-theme);

/* You can add global styles to this file, and also import other style files */
@import "assets/css/libs.min.css";
@import "assets/css/style.scss";

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: #ffffff;
  font-size: 20px;
}
.mat-mdc-tab .mdc-tab__text-label,
.mat-mdc-tab-link .mdc-tab__text-label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 2.5;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0px;
}
ul li {
  color: #25334b;
  font-style: normal;
  cursor: pointer;
  font-size: 18px;
}
ul li a {
  color: #25334b;
  font-style: normal;
  text-decoration: none;
}
ul li a:hover {
  color: #091976;
  font-style: normal;
  text-decoration: none;
}
.active {
  color: #091976;
}
a {
  text-decoration: none;
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pointer {
  cursor: pointer;
}
.main-wrapper {
  background-color: #f5f8fa;
  width: 100%;
  height: 100%;
  position: relative;
}
.main-wrapper .side-wrapper {
  width: 250px;
  height: 100vh;
  background-color: #f5f8fa;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  /* border-right: 1px solid #16223e; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.half-collapsed {
  width: 0px;
  height: 100vh;

  /*
    width: 250px;
    height: 100%; */
  position: fixed;
  background-color: #385da8;
  box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.04);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;

  transition: all 0.5s ease-in-out;
  white-space: nowrap;
}
.brand-logo {
  width: 100%;
  height: 70px;
  /* border-bottom: 1px solid #16223e; */
  padding: 52px 16px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-items {
  padding: 16px;
}
.main-wrapper .content-wrapper {
  width: calc(100% - 250px);
  height: 100vh;
  background-color: #385da8;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}
.main-wrapper .content-wrapper-collapse {
  width: calc(100% - 0px);
  height: 100vh;
  background-color: #385da8;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}
.main-navbar-top {
  width: 100%;
  height: 70px;
  background-color: #385da8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #82868d;
  border-left: 1px solid #82868d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  color: #fff;
}
.main-content-container {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #f5f8fa;
  position: absolute;
  top: 45px;
  left: 0;
  overflow-y: scroll;
  padding: 24px;
}
.page-topbar {
  width: 100%;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #e8e8e8;
}
.current-Date {
  border: 1px solid #6571ff;
  padding: 8px;
  border-radius: 4px;
}
.page-content {
  margin-top: 16px;
  background: #f5f8fa;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #7a93a0;
  border-radius: 4px;
  padding: 8px;
  /* border: 1px solid #16223e; */
}
.sidebar-menu-item li {
  font-size: 18px;
}
.accordion-button {
  background-color: transparent;
  color: #f2f5fa;
  padding: 0 !important;
  cursor: pointer;
  font-size: 14px;
}
.accordion-button:hover {
  background-color: transparent;
  color: #6571ff;
}
.accordion-button:not(.collapsed) {
  color: #6571ff;
  background-color: transparent;
}

.side {
  transition: all 0.5s ease-in-out;
}
.fs-14-300{
  font-size: 14px;
  font-weight: 600;
}

.display-none {
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.drop-down-menu-hidden {
  transition: all 0.5s ease-in-out;
  display: none;
}
.btn-primary{
  padding: 8px 16px;
    border-radius: 8px;
    background-color: #385da8;
    color: white;
    border: none;
}

.drop-down-menu {
  position: absolute;
  top: 60px;
  right: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 250px;
  transition: ease-in-out 3s;
}
.ddmenu-heading {
  font-size: 12px;
  padding: 8px 8px;
  color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #163f62 !important;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.login-details {
  display: flex;
  flex-direction: column;
}
.dd-menu-body {
  padding: 8px;
}
.dd-menu-body ul li a {
  color: #122857 !important;
}
.page-content {
  margin-top: 16px;
  width: 100%;
  background-color: #f5f8fa !important;
  color: #fff;
}

.side-wrapper-mobile {
  display: none;
}
.page-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #122857;
}
.page-heading span h5 {
  text-transform: capitalize;
}

@media only screen and (min-width: 600px) {
  .side-wraper-mobile {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .side-wrapper-mobile {
    display: block;
  }
  .side-wrapper {
    display: none;
  }
  .main-wrapper .content-wrapper {
    width: calc(100% - 0px);
    height: 100vh;
    background-color: #122857;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
  }
  .main-wrapper .content-wrapper-collapse {
    width: calc(100% - 0px);
    height: 100vh;
    background-color: #122857;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
  }
  .main-navbar-top {
    width: 100%;
    height: 50px;
    background-color: #122857;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #16223e;
    border-left: 1px solid #16223e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    color: #fff;
  }
  .main-content-container {
    width: 100%;
    height: calc(100% - 50px);
    background-color: #f5f8fa;
    position: absolute;
    top: 50px;
    left: 0;
    overflow-y: scroll;
    padding: 24px;
  }
  .page-topbar {
    width: 100%;
    height: 50px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #e8e8e8;
  }
  .main-wrapper .m-side-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #122857;
    top: 0;
    left: 0;
    overflow-y: scroll;
    border-right: 1px solid #16223e;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 999 !important;
  }

  .side-wraper-mobile {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: scroll;
    width: 0px;
    height: 100vh;

    background-color: #122857;

    border-right: 1px solid #16223e;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
  }
  .side-active {
    display: block;
    width: 250px;
    height: 100vh;
    cursor: pointer;
    white-space: nowrap;

    transition: all 0.5s ease-in-out;
  }
  .close {
    display: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .side-mobile-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: #25334b;
    font-size: 14px;
    border-bottom: 1px solid #16223e;
  }
  .menu-lg {
    display: none !important;
  }
}
.cont-modal{
  padding: 24px;
}
// textarea:focus,
// // input:focus {
// //   outline: none;
// //   border: none;
// // }
