<header class="head_page">
  <!-- <span class="element_two">
    <img src="assets/img/cub_two.png" alt="">
  </span>
  <span class="element_three"><img src="assets/img/cub_three.png" alt="">
  </span>
  <span class="element_thirteen">
    <img src="assets/img/icons/cub_thirteen.svg" alt="">
  </span> -->
  <div class="container title_h">
    <div class="block_title">
      <h1>{{'head_page.title' |translate}}</h1>
      <p>{{'head_page.block_title' | translate}}</p>
    </div>
  </div>
</header>
<section class="about_w">
  <div class="container">
    <div class="welcome_ab">
      <div class="row m-0">
        <div class="img_ab col-lg-6 p-0"><img src="../../../../../assets/img/project/company_logo.jpeg"></div>
        <div class="inf_ab col-lg-6 col-md-12">
          <h2>{{'head_page.welcome_title' |translate}}</h2>
          <p>{{'head_page.welcome_text' |translate}} </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="information_ab">
  <div class="container">
    <div class="col-lg-12">
      <h2>{{'head_page.information_title' |translate}}</h2>
      <p>{{'head_page.information_text' |translate}}</p>
      <div class="button"><a [routerLink]="['/contacts']" [routerLinkActive]="['active']">Contacts</a></div>
    </div>
  </div>
</section>
<app-our-team></app-our-team>
<section class="gallery">
  <div class="container">
    <div class="gallery_block">
      <h2>Gallery</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
      <div class="gallery_img">
        <div class="row">
          <div class="ig col-lg-4 col-md-4 col-12"><a data-fancybox="gallery" href="../../../../../assets/img/galery/img1.jpg"><img
                src="../../../../../assets/img/galery/img1.jpg"></a></div>
          <div class="ig col-lg-4 col-md-4 col-12"><a data-fancybox="gallery" href="../../../../../assets/img/galery/img2.jpg"><img
                src="../../../../../assets/img/galery/img2.jpg"></a></div>
          <div class="ig col-lg-4 col-md-4 col-12"><a data-fancybox="gallery" href="../../../../../assets/img/galery/img3.jpg"><img
                src="../../../../../assets/img/galery/img3.jpg"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
